[submodule "src/cc/libbpf"]
	path = src/cc/libbpf
	url = git@github.com:libbpf/libbpf.git
[submodule "libbpf-tools/bpftool"]
	path = libbpf-tools/bpftool
	url = git@github.com:libbpf/bpftool.git
[submodule "libbpf-tools/blazesym"]
	path = libbpf-tools/blazesym
	url = git@github.com:libbpf/blazesym.git
